@(patientList: List[Patient], prescriptionJoinList: List[PrescriptionJoin], currentReminder: SuperJoin)

<!DOCTYPE html>
<html lang=""en">
<head>
    <link rel="stylesheet" type ="text/css" href="@routes.Assets.at("stylesheets/actionPage.css")"/>
    <meta charset=""UTF-8>
    <title>Edit Reminder</title>
</head>
<body>

<form method="POST" action="@routes.TableJoinController.updateReminder()">
    <input type="hidden" name="reminderID" value="@currentReminder.reminderID"/>
    <fieldset>
        <legend>Edit Reminder</legend>
        <div>
            Select Patient ID:
            <br>
            <select name="patientID">
                <option selected value="@currentReminder.patientID">@currentReminder.firstName</option>
                @for(patient <- patientList){
                @if(!currentReminder.patientID.equals(patient.patientID)){
                <option value=@patient.patientID>@patient.firstName</option>
                }}
            </select>
        </div>
        <div>
            Select The Prescription:
            <br>
            <select name="prescriptionID">
                <option selected value="@currentReminder.prescriptionID">@currentReminder.medicationName @currentReminder.dosage @currentReminder.frequency Seconds</option>
                @for(prescription <- prescriptionJoinList){
                @if(!currentReminder.prescriptionID.equals(prescription.prescriptionID)){
                <option value=@prescription.prescriptionID>@prescription.medicationName @prescription.dosage @prescription.frequency Seconds</option>
                }}
            </select>
        </div>

        When you update the reminder you will get a text reminder to take your medication!
        <br>
        <br>


        <button>Edit Reminder</button>
    </fieldset>


</form>
</body>
</html>