@(vitalJoin: List[VitalJoin])
<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Date Taken', 'Weight in lb', 'Total Cholesterol'],
           @for(vitalJoin <- vitalJoin){
          ['@vitalJoin.dateTaken', @vitalJoin.val1, @vitalJoin.val2],}
        ]);

        var options = {
          title: 'Weight and Cholesterol Over Time',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
</head>
<body>
<div id="curve_chart" style="width: 900px; height: 500px"></div>
</body>
</html>


