@(patientList: List[Patient], medicalCondition: List[Medical_Condition])

<!DOCTYPE html>
<html lang=""en">
<head>
    <link rel="stylesheet" type ="text/css" href="@routes.Assets.at("stylesheets/actionPage.css")"/>
    <meta charset=""UTF-8>
    <title>Add New Allergy</title>
</head>
<body>

<form method="POST" action="@routes.MedicalHistoryController.addMedicalHistory()">

    <fieldset>
        <legend>Add New Allergy</legend>
        <div>
            Select Patient ID:
            <br>
            <select name="patientID">
                @for(patient <- patientList){
                <option value=@patient.patientID>@patient.firstName</option>
                }
            </select>
        </div>
        <div>
            Select Medical Condition:
            <br>
            <select name="medicalConditionID">
                @for(medical <- medicalCondition){
                <option value=@medical.medicalConditionID>@medical.mcName</option>
                }
            </select>
        </div>
        <br>


        <button>Add Medical Condition</button>
    </fieldset>


</form>
</body>
</html>